:root {
  --white: hsl(0, 0%, 100%);
  --grey-light: hsl(212, 45%, 89%);
  --grey-blue: hsl(220, 15%, 55%);
  --blue-dark: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: var(--white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 323px;
  text-align: center;

  padding: 20px;
}

.content__img {
  width: 290px;
}

.content__heading {
  font-size: 22px;
}
